[submodule "external/doctest"]
	path = external/doctest
	url = git@github.com:doctest/doctest.git
[submodule "external/libradicl"]
	path = external/libradicl
	url = https://github.com/jamshed/libradicl.git
	branch = develop
#[submodule "external/pthash"]
#	path = external/pthash
#	url = https://github.com/rob-p/pthash.git
#	branch = master
[submodule "external/sshash"]
	path = external/sshash
	url = git@github.com:jermp/sshash.git
	branch = submodule-integration-for-piscem
